
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


.about-col1 {
    width: 13vh;
    height: 40vh;
    grid-row: 3/5;
    grid-column: 3/5;
    padding-top: 50px;
    margin-top: 150px;
}
.about-heading{
    font-size: 30px;
    color: whitesmoke;
    /* margin: 0 auto; */
    align-self: center;
    padding-left: 25vh;
    
    
}

.about-col2{
    grid-column: 4/9;
    grid-row: 3/5;
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 80px;
}
   

#bulb-image {
    width: 20vh;
    height: 20vh;
    border-radius: 100px;
}

#about-me {
    font-size: 18px;
    grid-column: 1/5;
    width: fit-content;
    border: solid white;
    border-width:thick;
    border-radius: 40px;
    padding: 50px;
    color: whitesmoke;
    margin-top: 20px;
    background-color: rgb(3, 11, 55) ;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}



.details {
    color: whitesmoke;
    max-width: 70%;
    grid-column: 2/6;
    font-size: larger;
}

.details p {
    padding-top: 20px;
    border: 5px solid;
    border-top: white;
    /* border-bottom: #ff004f; */
    margin: 20px;
    border-radius: 30px;
    background-color: rgb(3, 11, 55);
    padding: 3%;
}
h2 {
    color: whitesmoke;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 50px;


}

h3{
    text-align: center;
    font-size: 25px;
    color: white;
    border:5px solid ;
    border-top: white;
    background-color:  rgb(3, 11, 55) ;
    width: fit-content;
    padding: 10px;
    align-self: center;
    margin: auto;
    border-radius: 30px;
    
}



main {
    width: 100%;
    height: 150vh ;
    background: linear-gradient(rgba(0,0,0,.2), rgba(10,10,10,1)),url(images/pngtree-futuriact-backgrifor.jpg) ;
    background-size: cover;
    background-position: center;

}

#nav-list {
    grid-column-start: 1;
    grid-column-end: 5;
    align-self:normal;
    grid-row-start: 1;
}

#profile {
    width: 25vh;
    height: 30vh;
    border-radius: 90px;
    border: solid 4px lightcoral;
    align-self:flex-start;
    margin-left: 60px;
    margin-top: 40px;

}

header {
    height: 30vh;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    
}

#last-name {
    padding-left: 30px;
}



nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    padding-top: 20px;
    
    
}



nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: lightcoral;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}
#name{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    padding-top: 20px;


}

nav ul li:nth-child(2n+1) a:hover {
    color :aqua;
    
}

nav ul li{
    list-style: none;
}

nav ul li:nth-child(2n+2) a:hover {
    color : hotpink
}

#profile-pic {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

span:nth-child(2n+1) {
    color: lightcoral;
}

.tab-items {
    color: white;
    grid-row: 2/7;
    grid-column: 2/8;
    justify-content: space-between;
    display: flex;
    font-size: larger;
}

.tab-1 p:nth-child(1){
    color: lightcoral;
}

.row {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 2fr 2fr 2fr 2fr;
    
}

.tab-info1{
    border: solid;
    border-radius: 20px;
    padding-left: 20px;
    color: black;
    background-color: lightskyblue;
    margin-bottom: 50px;
    display: none;


} 
.tab-info2{
    border: solid;
    border-radius: 20px;
    padding-left: 20px;
    color: black;
    background-color: lightskyblue;
    margin-bottom: 50px;
    display: none;


} 

.tab-info1.tab-links{
    display: block;
}
.tab-info2.tab-links{
    display: block;
}

button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    color: black;
    background-color: lightskyblue;
    font-size:larger;
}

